.donation-cards {
    display: flex;
    height: 60vh;
    width: 100vw;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: -110px;
}

.holiday, .education, .children-des {
    background-color: #ABD9FF;
    width: 350px;
    height: 600px;
    color: rgb(0, 0, 0);
    padding: 5px;
    text-align: center;
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: space-around;
}

.title{
    font-family: Amatic SC;
    font-size: 50px;
}

.description{
    font-family: Andica;
    font-size: 20px;
    line-height: 1.7;
    margin-left: 25px;
    margin-right: 25px;
}

.education-button, .children-button, .holiday-button, .child-button {
    background-color: #FFF6BF;
    border: none;
    color: black;
    font-family: Andica;
    padding: 15px 32px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    border-radius: 20px;
}

.child-card {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top:-200px;
    margin-left: 100px;
    margin-right: 100px;
}

.child {
    display: flex;
    font-family: Amatic SC;
    font-size: 30px;
    width: 350px;
    height: 500px;
    background-color: #ABD9FF;
    color: rgb(7, 6, 6);
    padding: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: center;
}

.child>.description {
   font-size: 17px;
   height: 100px;
}

button.child-button {
    padding: 6px 31px;
    font-size: 15px;
    margin-top: 30px;
}