@font-face {
  font-family: Amatic SC;
  src: url('/src/Fonts/AmaticSC-Regular.ttf');
}

@font-face {
  font-family: Andika;
  src: url('/src/Fonts/Andika-Regular.ttf');
}


body {
  background: url("photos/background.jpg")no-repeat center/cover;
  height: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.welcome {
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  font-family: Andika;
}

.nav {
  background-color: #abd9ffbd;
  height: 80px;
  width: 100vw;
  border-radius: 20px;
  margin: 10px 10px 17%;
  display: flex;
  gap: 200px;
  align-items: center;
  justify-content: center;
}

.nav>button {
  background-color: #FFEBAD;
  border: none;
  border-radius: 40px;
  height: 50px;
  width: 200px;
  font-size: 1.4vw;
  font-family: Andika;
  text-align: center;
  cursor: pointer;
}

button:hover {
  background-color: #f1da94;
}

.content {
  height: 300px;
  display: flex;
  justify-content: flex-end;
  color: #333536;
  font-size: 20px;
  flex-direction: column;
}

.footer {
  background-color: #abd9ff9f;
  height: 80px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7%;
}

.about-us {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin-top: -280px;
}

.about-us>.title {
  font-size: 70px;
  font-family: Amatic SC;
}

.about-us-card {
  background-color: #abd9ffd5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding: 10px;
  width: 90%;
  height: 300px;
}

.about-us-card>.title {
  margin-top:-200px;
  margin-left:80px;
  margin-bottom: 10px;
  min-width: 180px;
  font-family: Amatic SC;
  font-size: 2vw;
}

.about-us-card>.image {
  margin: 0 40px 0 45px;
}

.about-us-card .description {
  font-size : 1vw;
  margin-top: 50px;
  margin-left: -235px;
  font-family: Andika;
  padding: 10px;
}

.contact {
  color: black;
}

.sheath {
  font-family: Amatic SC;
  font-size: 30px;
  width: 400px;
  height: auto;
  color: black;
  padding: 20px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sheath>h1 {
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-group {
  margin-bottom: 20px;
  text-align: center;
}

.choose-length {
  left: 20px;
  background-color: #FFF6BF;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 15px;
}

.button-2 {
  background-color: #FFF6BF;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  margin-left: -10px;
  border: 1px solid #ccc;
}

.radio-group {
  display: flex;
  align-items: center;
  margin: 20px 0 0 40px;
}

.radio-group input[type="radio"] {
  margin-right: 10px;
}

.radio-group label {
  font-weight: bold;
}



.future {
  font-family: Amatic SC;
  text-align: center;
  font-size: 100px;
  margin-bottom: 30%;
  margin-left: 50%;
  margin-top: -8%;
}

.what-about-us {
  font-family: Andika;
  text-align: center;
  font-size: 30px;
  margin-left: 50%;
  margin-top: -30%;
  margin-bottom: 15%;
}

.short-desc {
  font-family: Andika;
  text-align: center;
  font-size: 30px;
}

.panel.panel-default {
  font-family: Amatic SC;
  font-size: 30px;
}