@font-face {
font-family: Amatic SC;
src: url('/src/Fonts/AmaticSC-Regular.ttf');
}

@font-face {
  font-family: Andika;
  src: url('/src/Fonts/Andika-Regular.ttf');
  }

.App {
  text-align: center;
}

.childrenDes{
  font-family: Amatic SC ;
  font-size: 40px;
  width: 350px;
  height: 600px;
  background-color:#ABD9FF;
  color: white;
  padding:5px;
  position:absolute;
  left:60%;
  bottom:20%;
  text-align: center;
}

.description {
  font-family: Andika;
  font-size: 15px
}

.childrenButton{
  background-color: #FFF6BF;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-top:30px;
  border-radius: 15px;
}

.child{
  font-family: Amatic SC ;
  font-size: 30px;
  width: 250px;
  height: 450px;
  background-color:#ABD9FF;
  color: white;
  padding:5px;
  left:60%;
  bottom:20%;
  text-align: center;
}

button.childButton {
  background-color: #FFF6BF;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-top:30px;
  border-radius: 15px;
}

