body {
  background: url("photos/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.welcome {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  font-family: 'Andika';
}

.nav {
  background-color: #abd9ffbd;
  height: 50px;
  border-radius: 20px;
  margin-top: 10px;
  display: flex;
  gap: 200px;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;

}

.nav>button {
  background-color: #FFEBAD;
  border: none;
  border-radius: 40px;
  height: 40px;
  width: 150px;
  font-size: 17px;
}

.nav>button:hover {
  background-color: #f1da94;
}

.content {
  height: 300px;
  display: flex;
  justify-content: right;
  color: #333536;
  font-size: 20px;
  flex-direction: column;
}

.footer {
  background-color: #abd9ff9f;
  height: 80px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}
.about-us{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
}

.about-us-card {
  background-color: #abd9ffb8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  height: 200px;
}

.about-us-card .description{
  justify-content: left;
  font-size: 13px;
  padding: 10px;
}